body {
  background-image: url('../resources/sky.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page {
  position: relative;
  width: 45%;
  min-height: 100%;
  margin: 0 auto;
  background: linear-gradient(#43484F, #404750);
  box-shadow: 0 0 50px #223;
}

#title {
  padding: 42px 0;
  color: white;
  font-size: 35px;
  border: 1px solid black;
  border-top: 0;
  margin-bottom: 0;
  text-shadow: 0 0 1px white;
}

#title:before {
  content: '';
  background-image: url('../resources/airport.png');
  display: inline-block;
  width: 43px;
  height: 50px;
  background-size: 43px 50px;
  vertical-align: -8px;
  margin-right: 20px;
}

hr {
  margin: 0 0 20px 0;
  padding: 0;
  height: 2px;
  width: 240px;
  max-width: 100%;
  background: #55bbdd;
  border: 0;
}

h3 {
  font-size: 27px;
  margin-top: 10px;
  margin-bottom: 0;
}

.dark {
  background: linear-gradient(#33383F, #23282F);
}

.search-container {
  width: 70%;
  margin: 0 auto 25px auto;
}

.tooltip {
  top: 25px;
}

.main-content {
  padding: 15px 25px 25px 25px;
  border-top: 2px solid #55bbdd;
}

.container {
  border: 1px solid black;
  border-radius: 5px;
}

.info {
  text-align: left;
  margin-right: 35px;
  background: #53585F;
  padding:  15px 20px;
  width: 100%;
  box-sizing: border-box;

  font-size: 20px;
  color: white;
}

.info > span {
  color: #aaa;
  font-size: 20px;
}

.field-seperate {
  margin-left: 5px;
  clear: right;
}

.split-containers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.info-side {
  width: 40%;
}

.map-container {
  width: calc(60% - 35px);
  padding: 15px;
  background: #155b5d;
}

#google-map {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  box-shadow: 0 0 15px black;
}

.favouriteBtn {
  position: absolute;
  top: 5px;
  left: 10px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 6px;
  color: #ccc;
  font-size: 14px;
  background: #43484F;
  cursor: pointer;
}

.favouriteBtn:hover {
  border-color: white;
  color: white;
}

.favouriteBtn:disabled {
  opacity: 0.5;
}

.favourite {
  background: red;
}

span, p {
  color: #ccc;
}

@media only screen and (max-width: 1600px) {
  .page {
    width: 55%;
  }
}

@media only screen and (max-width: 1024px) {
  .page {
    width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  .page {
    width: 95%;
  }

  .search-container {
    width: 100%;
  }

  .split-containers {
    flex-wrap: wrap;
  }

  .info-side {
    width: 100%;
    margin-right: 0;
    margin-bottom: 35px;
    box-sizing: border-box;
  }

  .map-container {
    width: 100%;
    box-sizing: border-box;
  }
}
