body {
  background-image: url('../resources/sky.png');
  background-size: cover;
}

.main-container {
  width: 55%;
  height: 100%;
  margin: 0 auto;
  background: linear-gradient(#43484F, #404750);
  box-shadow: 0 0 50px #223;
}

#title {
  line-height: 120px;
  color: white;
  font-family: Monitorica-Rg;
  font-size: 35px;
  border: 1px solid black;
  border-top: 0;
}

#title:before {
  content: '';
  background-image: url('../resources/airport.png');
  display: inline-block;
  width: 43px;
  height: 50px;
  background-size: 43px 50px;
  vertical-align: -8px;
  margin-right: 20px;
}

.dark {
  background: linear-gradient(#33383F, #23282F);
}

.flex {
  padding: 25px 45px 25px 25px;
  justify-content: space-between;
}

.info-container {
  margin-right: 35px;
  border: 1px solid black;
  border-radius: 5px;
  background: #53585F;
  width: 45%;
}

.map-container {
  width: calc(50% - 35px);
  height: 300px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  background: #155b5d;
}

#google-map {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px black;
}
