
@font-face {
  font-family: Monitorica-Rg;
  src: url("../resources/Monitorica-Rg.ttf");
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: verdana;
  width: 100%;
  height: 100%;
}

.invisible {
  opacity: 0;
}

.main-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.main-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.control-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

h3 {
  font-family: Monitorica-Rg;
  font-size: 12px;
  color: white;
  opacity: 0.6;
  position: absolute;
  margin: 3px;
  left: 0;
  bottom: 0;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex > div {
  margin-right: 10px;
  width: 40%;
  position: relative;
}

@media only screen and (max-width: 768px) {
    .flex > div {
        width: 70%;
    }
}

h1 {
  margin-top: 0;
  font-size: 45px;
  text-shadow: -1px 0 2px black;
  font-family: Monitorica-Rg;
  color: white;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}

.main-textbox {
  font-family: Monitorica-Rg;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 0;
  padding: 0 15px;
  text-transform: uppercase;
}

.main-button {
  font-family: Monitorica-Rg;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  width: 80px;
  padding: 0;
  border-radius: 10px;
  border: 0;
  background: #55bbdd;
  color: white;
  transition: all 0.1s linear;
}

.main-button:hover {
  font-size: 20px;
  transform: scale(1.1);
  background: #55ccee;
}

.tooltip {
  z-index: 2;
  left: 20px;
  top: 35px;
  position: absolute;
  text-align: left;
  transition: all 0.15s linear;
}

.tooltip-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #d55;
  margin-left: 15px;
}

.tooltip-container {
  font-family: Monitorica-Rg;
  font-size: 14px;
  font-weight: bold;
  background: #d55;
  border-radius: 6px;
  padding: 4px 7px;
  color: #eee;
}

.tooltip-container:before {
  content: '';
  background-image: url('../resources/error-icon.png');
  display: inline-block;
  width: 14px;
  height: 14px;
  background-size: 14px 14px;
  vertical-align: -15%;
  margin-right: 5px;
}
