.control-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.flex>div {
  margin-right: 10px;
  width: 40%;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .flex>div {
    width: 70%;
  }
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  text-transform: none;
}

.main-textbox {
  font-family: Monitorica-Rg;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 0;
  padding: 0 15px;
  text-transform: uppercase;
}

#searchBtn {
  font-size: 18px;
}

#searchBtn:hover {
  transform: scale(1.1);
}

.tooltip {
  z-index: 2;
  left: 20px;
  top: 35px;
  position: absolute;
  text-align: left;
  transition: all 0.15s linear;
}

.tooltip-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #d55;
  margin-left: 15px;
}

.tooltip-container {
  font-family: Monitorica-Rg;
  font-size: 14px;
  font-weight: bold;
  color: #eee;

  padding: 4px 7px;
  border-radius: 6px;
  border: 1px solid #d55;
  background: #d55;
}

.tooltip-container:before {
  content: '';
  background-image: url('../resources/error-icon.png');
  display: inline-block;
  width: 14px;
  height: 14px;
  background-size: 14px 14px;
  vertical-align: -15%;
  margin-right: 5px;
}

h3 {
  font-size: 12px;
  opacity: 0.6;
  position: absolute;
  margin: 3px;
  left: 0;
  bottom: 0;
}
