body {
  background-image: url('../resources/plane.jpeg');
  background-size: cover;
  background-position: center;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.footnote {
  font-size: 12px;
  color: white;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  margin: 3px;
}

@media only screen and (max-width: 768px) {
  .center {
    width: 100%;
  }
}

.login-controls {
  display: flex;
  justify-content: space-between;
  width: 100px;
  position: absolute;
  right: 10px;
  top: 5px;
}

.link {
  color: white;
  cursor: pointer;
  opacity: 0.8;
}

.link:hover {
  opacity: 1;
}

h2 {
  margin: 0;
}

.popup {
  position: absolute;
  right: 20px;
  top: 25px;
  width: 200px;
  z-index: 1;
  box-sizing: border-box;
}

.popup-arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(255,255,255,0.6);
  width: 0;
  height: 0;
  margin-left: 120px;
}

.popup-content {
  background-color: rgba(255,255,255,0.6);
  border-radius: 5px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
}

.text-field {
  height: 25px;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
}
