.login-menu {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 200px;
  z-index: 1;
  box-sizing: border-box;
}

.popup-arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(255,255,255,0.6);
  width: 0;
  height: 0;
  margin-left: 120px;
}

.popup-content {
  background-color: rgba(255,255,255,0.6);
  border-radius: 5px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
}

.text-field {
  height: 25px;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  width: 100%;
}

.login-controls {
  display: flex;
  justify-content: flex-end;
  width: 200px;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 2;
}

.link {
  color: white;
  cursor: pointer;
  opacity: 0.8;
}

.link:hover {
  opacity: 1;
}

h2 {
  margin: 0;
}

.ui-dialog {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  padding: 10px;
  z-index: 5;
  cursor: pointer;
  outline: 0;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 30px;
  line-height: 30px;
  border-radius: 0 0 6px 6px;
}

.banner.success {
  background-color: rgba(0, 255, 0, 0.2);
  border: 2px solid green;
  border-top: 0;
}

.banner.failure {
  background-color: rgba(255, 0, 0, 0.2);
  border: 2px solid red;
  border-top: 0;
}

.favourites-list {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 450px;
  height: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 6px 6px;
  background: rgba(128, 128, 128, 0.2);
}

.favourite-item {
  line-height: 20px;
  margin: 0 15px;
}

.favourite-container {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 200px;
  text-align: left;
}

.favouriteBtn {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 6px;
  color: #ccc;
  font-size: 14px;
  background: #43484F;
  cursor: pointer;
}

.favouriteBtn:hover {
  border-color: white;
  color: white;
}

.favouriteBtn:disabled {
  opacity: 0.5;
}

.favourite {
  background: gold;
}
