#loginMenu {
  position: absolute;
  top: 15px;
  width: 200px;
  z-index: 1;
  box-sizing: border-box;
}

.popup-arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(255,255,255,0.6);
  width: 0;
  height: 0;
  margin-left: 120px;
}

.popup-content {
  background-color: rgba(255,255,255,0.6);
  border-radius: 5px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
}

.text-field {
  height: 25px;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  width: 100%;
}

.login-controls {
  display: flex;
  justify-content: flex-end;
  width: 200px;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 2;
}

.link {
  color: white;
  cursor: pointer;
  opacity: 0.8;
}

.link:hover {
  opacity: 1;
}

h2 {
  margin: 0;
}

.ui-dialog {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  padding: 10px;
  z-index: 5;
  cursor: pointer;
  outline: 0;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#banner {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 25%;
  width: 50%;
  height: 30px;
  line-height: 30px;
  border-radius: 0 0 6px 6px;
}

#banner.success {
  background-color: rgba(0, 255, 0, 0.2);
  border: 2px solid green;
  border-top: 0;
}

#banner.failure {
  background-color: rgba(255, 0, 0, 0.2);
  border: 2px solid red;
  border-top: 0;
}
