@font-face {
  font-family: Monitorica-Rg;
  src: url("../resources/Monitorica-Rg.ttf");
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: verdana;
  width: 100%;
  height: 100%;
}

.background-plane {
  background-image: url('../resources/plane.jpeg');
  background-size: cover;
  background-position: center;
}

.background-sky {
  background-image: url('../resources/sky.jpeg');
  background-size: cover;
  background-position: center;
}

.background-engine {
  background-image: url('../resources/engine.jpg');
  background-size: cover;
  background-position: center;
}

h1 {
  margin-top: 0;
  font-size: 45px;
}

span, p, h1, h3 {
  font-family: Monitorica-Rg;
}

h1, h3 {
  color: white;
}

span, p {
  color: #ccc;
}

.invisible {
  opacity: 0;
}

.flex {
  display: flex;
  justify-content: center;
}

input:focus {
  outline: none;
}

.button {
  font-family: Monitorica-Rg;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  border: 0;
  background: #55bbdd;
  color: white;
  transition: all 0.1s linear;
}

.button:hover {
  transform: scaleX(1.1);
  background: #55ccee;
}

.btn-primary {
  font-size: 18px;
  height: 40px;
}

.btn-primary:hover {
  transform: scale(1.1);
}
