@font-face {
  font-family: Monitorica-Rg;
  src: url("../resources/Monitorica-Rg.ttf");
}

* {
  font-family: Monitorica-Rg, Helvetica;
}

h1,h2,h3,span,p {
  color: white;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.background-engine { //todo remove
  background-image: url('../resources/engine.jpg');
  background-size: cover;
  background-position: center;
}

h1 {
  margin-top: 0;
  font-size: 45px;
}

.flex { //todo remove
  display: flex;
  justify-content: center;
}

input:focus {
  outline: none;
}

.button {
  font-family: Monitorica-Rg, Helvetica;
  font-size: 15px;
  font-weight: bold;
  min-height: 30px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 0;
  background: #55bbdd;
  color: white;
  transition: all 0.1s linear;
}

.button-cancel {
  border: 1px solid #55ccee;
  background: #00000020;
}

.button:hover {
  transform: scaleX(1.1);
  background: #55ccee;
}

.btn-primary {
  font-size: 18px;
  height: 40px;
}

.btn-primary:hover {
  transform: scale(1.1);
}
