.textbox-container {
  width: calc(100% - 85px);
  margin-right: 10px;
  position: relative;
  float: left;
}

.main-textbox, .sub-textbox {
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 0;
  padding: 0 15px;
  text-transform: uppercase;
}

.sub-textbox {
  background: #eee;
  height: 30px;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  text-transform: none;
}
