/* Fall down into position */

.fall-enter-active {
  transition: all 0.5s ease-out;
}

.fall-leave-active {
  transition: all 0.5s ease-in;
}

.fall-enter, .fall-leave-to {
  transform: translateY(-30px);
  opacity: 0;
}

/* Shrink to a point */

.shrink-enter-active {
  transition: all 0.2s ease-out;
}

.shrink-leave-active {
  transition: all 0.2s ease-in;
}

.shrink-enter, .shrink-leave-to {
  transform: scale(0);
  opacity: 0;
}

/* Fade only */

.fade-enter-active {
  transition: all 0.2s ease-out;
}

.fade-leave-active {
  transition: all 0.5s ease-in;
}

.fade-enter, .fade-leave-to {
  opacity: 0
}
