<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Airport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/resources/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/resources/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <link rel="stylesheet" type="text/css" href="/css/airport.css">
    <script type="text/javascript" src="scripts/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <div class="header">
      <h1 id="title">placeholder</h1>
    </div>
    <div class="horiz-split"></div>
    <div class="flex">
      <div class="info-container">

      </div>
      <div class="vert-split"></div>
      <div class="map-container">
        <iframe id="google-map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA779zHhxt0P5GwSKTYkczffJf5aTdUqFU&q=Auckland,Airport">
        </iframe>
      </div>
    </div>
    <div class="horiz-split"></div>
    <div class="footer">
    </div>
  </body>
</html>
