<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Airport Lookup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/resources/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/resources/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/master.css">
  <link rel="stylesheet" type="text/css" href="/css/airport.css">
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCTrWWBWfYPGFsHvv8sr4tkfpeubCiDIE0"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/search.js"></script>
  <script type="text/javascript" src="/scripts/airport-api.js"></script>
</head>

<body class="background-sky">
  <div class="page">
    <h1 id="title" class="dark">Loading...</h1>
    <div class="main-content">
      <div class="search-container flex">
        <div>
          <input id="icaoTxt" class="sub-textbox" type="text" placeholder="Load Another Airport..">
          <div id="icaoTT" class="tooltip invisible">
            <div class="tooltip-arrow"></div>
            <span class="tooltip-container">Field required before searching!</span>
          </div>
        </div>
        <input id="searchBtn" class="button" type="button" value="Search">
      </div>
      <div class="flex flex-between space-under">
        <div class="info info-side container">
          <h3>Airport Information</h3>
          <hr>
          Latitude: <span id="latitude" class="field-seperate">Loading...</span><br>
          Longitude: <span id="longitude" class="field-seperate">Loading...</span><br>
          <br>
          City: <span id="city" class="field-seperate">Loading...</span><br>
          Country: <span id="country" class="field-seperate">Loading...</span><br>
          Timezone: <span id="timezone" class="field-seperate">Loading...</span><br>
          <br>
          Status: <span id="status" class="field-seperate">Loading...</span>
        </div>
        <div class="map-container container">
          <div id="google-map"></div>
          <input id="recenterBtn" type="button" class="button" value="Recenter">
        </div>
      </div>

      <div class="info container">
        <h3>METAR</h3>
        <hr>
        <span id="metar">Loading...</span>
      </div>
    </div>
  </div>
</body>

</html>
