html
  head
    title Airport Lookup
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="/resources/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/resources/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" type="text/css" href="/css/master.css")
    link(rel="stylesheet" type="text/css" href="/css/search.css")
    link(rel="stylesheet" type="text/css" href="/css/index.css")
    link(rel="stylesheet" type="text/css" href="/css/login.css")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js")
    script(src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0")
    script(type="text/javascript" src="/scripts/search.js")
    script(type="text/javascript" src="/scripts/account.js")
  body
    div#loginApp
      include login.jade
    div.center
      h1 Airport Lookup
      div.textbox-container
        input#icaoTxt.main-textbox(type="text" placeholder="Enter Airport ICAO..")
        div#icaoTT
          include tooltip.jade
      input#searchBtn.button.btn-primary(type="button" value="Search")
    span.footnote(style="left: 0") Kyle Lamb
    span.footnote(style="right: 0") All airport & weather information sourced from the CheckWX API
