html
  head
    title Airport Lookup
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="/resources/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/resources/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" type="text/css" href="/css/master.css")
    link(rel="stylesheet" type="text/css" href="/css/search.css")
    link(rel="stylesheet" type="text/css" href="/css/index.css")
    link(rel="stylesheet" type="text/css" href="/css/login.css")
    link(rel="stylesheet" type="text/css" href="/css/tooltip.css")
    link(rel="stylesheet" type="text/css" href="/css/transitions.css")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js")
    script(src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0")
  body
    div#loginApp
      logincontainer
        loginnav(slot="login-nav" v-bind:user="loggedUser" v-bind:login-click="toggleLoginMenu" v-bind:signup-click="openSignUpForm" v-bind:signout-click="signOut")
        loginmenu(slot="login-menu" v-bind:enabled="loginVis")
          loginform(slot="login-form" v-bind:form-submit="loginSubmit" v-bind:login-data="loginData")
        signupmenu(slot="signup-menu")
          signupform(slot="signup-form" v-bind:form-submit="signupSubmit" v-bind:form-data="formData" v-bind:cancel-click="closeSignUpForm")
    div#searchApp.center
      h1 Airport Lookup
      form(v-on:submit.prevent="searchSubmit" style="margin: 0")
        div.textbox-container
          input#icaoTxt.main-textbox(type="text" v-model.trim="icao" v-on:keyup="hideTooltip" placeholder="Enter Airport ICAO.." autocomplete="off")
          tooltip(v-bind:show="showTooltip" v-bind:message="tooltipMsg")
        input#searchBtn.button.btn-primary(type="submit" value="Search")
    span.footnote(style="left: 0") Kyle Lamb
    span.footnote(style="right: 0") All airport & weather information sourced from the CheckWX API
    script(type="text/javascript" src="/scripts/account.js")
    script(type="text/javascript" src="/scripts/searchApp.js")
