html
  head
  title Airport Lookup
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="shortcut icon" href="/resources/favicon.ico" type="image/x-icon")
  link(rel="icon" href="/resources/favicon.ico" type="image/x-icon")
  link(rel="stylesheet" type="text/css" href="/css/master.css")
  link(rel="stylesheet" type="text/css" href="/css/invalid.css")
  script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous")
  script(type="text/javascript" src="/scripts/invalid.js")
body
  div.center
    h1 This doesn't seem to be a valid airport ICAO.
    input#returnBtn.button.btn-primary(type="button" value="Return")
