html
  head
    link(rel="stylesheet" type="text/css" href="/css/tooltip.css")    
    script(type="text/javascript" src="/scripts/tooltip.js")
  body
    div.tooltip(style="display: none")
      div.tooltip-arrow
      div.tooltip-container
